@function pow($base, $exponent) {
  $result: 1;
  @for $_ from 1 through $exponent {
    $result: $result * $base;
  }
  @return $result;
}

.btn {
  width: 200px;
  padding: 10px 0;
  background: none;
  border: 0;
  border-radius: 10px;
  display: block;
  margin: 10px 0;

  &.btn-orange {
    background: $color-orange;
    margin: pow(4, 3) * 1px; 
    color: #fff;
  
    &:hover {
      background: darken($color-orange, 5%);
    }
  }

  &.btn-purple {
    background: $color-purple;
    margin: pow(4, 3) * 1px; 
    color: #fff;
  
    &:hover {
      background: desaturate($color-purple, 5%);
    }
  }

  &.btn-yellow {
    background: $color-yellow;
    margin: pow(4, 3) * 1px; 
    color: #fff;

    &:hover {
      background: mix($color-yellow, pink);
    }
  }

  &.btn-green {
    background: $color-green;
    margin: pow(4, 3) * 1px; 
    color: #fff;

    &:hover {
      background: grayscale($color-green);
    }
  }
}
